<!DOCTYPE html>
<html>
    <head>
        <title>First Stock Value</title>
    </head>
    <body>
        <p>Enter the name of a stock to estimate its fair value</p>
        <form method="POST" autocomplete="off">
            <input type="text" id="stockTicker" name="stockTicker" placeholder="Enter the name of a stock.">
            <button type="submit">Get Price</button>
        </form>
        
        {% if value %}
            <p>The latest price is: {{ value }}</p>
        {% endif %}
    </body>
</html>
