<!DOCTYPE html>
<html>
    <head>
        <title>Stock Value Checker</title>
    </head>
    <body>
        <h1>Stock Price Checker</h1>
        <form method="POST">
            <label for="ticker">Enter Stock Ticker:</label>
            <input type="text" id="ticker" name="ticker" required>
            <button type="submit">Get Price</button>
        </form>

        {% if value is not none %}
            <h2>Current value of {{ ticker }}: {{ value }}</h2>
        {% endif %}
    </body>
</html>

